    input[type=text] {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      box-sizing: border-box;
    }
    input[type=email] {
      width: 50%;
    }
    input[type=number] {
      width: 50%;
    }
    html {
        background: linear-gradient(to bottom, #00ccff 0%, #003399 100%);
        font-family: 'Roboto', sans-serif;
        color: white;
    }
    h1 {
        font-family: 'Roboto', sans-serif;
        text-align: center;
        background: linear-gradient(to bottom, #ffcc00 0%, #cc6600 100%);
        color: white;
        padding: 1rem;
        text-shadow: 2px 2px black;
    }
    .flex {
        margin-top: 4vh;
        display: flex;
    }
    .ups {
        margin-top: 4vh;
    }
    h2 {
        font-family: 'Roboto', sans-serif;
        color: white;
        text-shadow: 2px 2px black;
    }